h1 {
  color: red;
}

body {
  background-color: burlywood;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}

button {
  margin-top: 2em;
}